@import "./_mixin.scss";

.room {
    // PROOF --------------------------------------
    .proof__art {
        @include blackLight;
        padding: 75px 20px 96px;
        position: relative;
        .art__p1 {
            @include text(14px, white, 700);
            margin-bottom: 16px;
        }
        .art__p2 {
            @include text(56px, white);
        }
        .art__div {
            position: absolute;
            bottom: 0px;
            right: 20px;
            background-color: white;
            padding: 16px 24px;
            @include text(16px, #222222, 700);
            span {
                color: #bead8e;
            }
        }
    }
    .show__art{
        padding: 50px 20px;
        .art__div{
            .div__div{
                background-color: #777;
                max-width: 335px;
                margin: auto;
                .div__img{
                    width: 100%;
                    max-width: 335px;
                    height: 300px;
                }
            }
            .div__div2{
                background-color: white;
                padding: 12px 24px;
                position: relative;
                width: 256px;
                top: -20px;
                margin: auto;
                margin-bottom: 28px;
            }
            .div__p{
                @include text(24px, #222222);
                margin-bottom: 16px;
                text-align: center;
            }
            .div__p1{
                @include text(14px, #777);
                margin: auto;
                margin-bottom: 10px;
                text-align: center;
                max-width: 290px;
            }
            .div__p2{
                @include text(16px, #bead8e, 700);
                margin-bottom: 52px;
                text-align: center;
                span{
                    @include text(16px, #BDBDBD, 700);
                }
            }
        }
    }
}
